{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ translate.name }}">
<head>
    <title>
        {% if 'about' in request.path %}
            {{ translation.about_title }}
        {% elif 'sales' in request.path %}
            {{ translation.sales_title }}
        {% elif 'articles' in request.path %}
            {{ translation.articles_title }}
        {% elif 'faq' in request.path %}
            {{ translation.faq_title }}
        {% else %}
            {{ translation.buy_title }}
        {% endif %}
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.0/bootstrap-slider.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/reset.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'core/css/layout.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" type="text/css" media="all">
    <script type="text/javascript" src="{% static 'core/js/Swis721_Cn_BT_400.font.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/Swis721_Cn_BT_700.font.js' %}"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.0/css/bootstrap-slider.min.css"
          type="text/css" media="all">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    {% block static %}
    {% endblock %}
    <!--[if lt IE 9]>
  	<script type="text/javascript" src="{% static 'core/js/html5.js' %}"></script>
	<style type="text/css">
		.bg{ behavior: url(js/PIE.htc); }
	</style>
  <![endif]-->
    <!--[if lt IE 7]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0"  alt="" /></a>
		</div>
	<![endif]-->
</head>
<body id="page2">
<div class="body1">
    <div class="body2">
        <div class="main-template">
            <div class="translations">
                {% for translation in all_translations %}
                    <img width="24" height="24" onclick="location.href='?lang={{ translation.name|lower }}'" src="{{ translation.image.url }}" alt="">
                {% endfor %}
            </div>
            <!-- header -->
            <header>
                <div class="wrapper">
                    <h1><a href="/" id="logo">{{ translation.site_name }}</a></h1>
                    <nav>
                        <ul id="menu">
                            <li><a href="/{% if parameter_lang %}?{{ parameter_lang }}{% endif %}">{{ translation.buy }}</a></li>
                            <li><a href="/about?{{ parameter_lang }}">{{ translation.about }}</a></li>
                            <li><a href="/sales?{{ parameter_lang }}">{{ translation.sales }}</a></li>
                            <li><a href="/articles?{{ parameter_lang }}">{{ translation.articles }}</a></li>
                            <li><a href="/faq?{{ parameter_lang }}">{{ translation.faq }}</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <!-- header end-->
        </div>
    </div>
</div>
<div class="body3">
    <div {% if request.GET.status == 'success' %}style="display: block"{% endif %} class="success">
        <div>{{ translation.success }}
        </div>
    </div>
    <div class="main-template">
        <!-- content -->
        {% block content %}
        {% endblock %}
        <!-- content end -->
    </div>
</div>
<div class="body4">
    <div class="main-template">
        <article id="content2">
            <div class="wrapper">
                <section class="col3">
                    <h4>{{ translation.navigation }}</h4>
                    <ul class="list1">
                        <li><a href="/{% if parameter_lang %}?{{ parameter_lang }}{% endif %}">{{ translation.buy }}</a></li>
                        <li><a href="/about?{{ parameter_lang }}">{{ translation.about }}</a></li>
                        <li><a href="/sales?{{ parameter_lang }}">{{ translation.sales }}</a></li>
                        <li><a href="/articles?{{ parameter_lang }}">{{ translation.articles }}</a></li>
                        <li><a href="/faq?{{ parameter_lang }}">{{ translation.faq }}</a></li>
                    </ul>
                </section>
                <section class="col3 pad_left2">
                    <h4>{{ translation.contacts }}</h4>
                    <ul class="address">
                        {% for contact in contacts %}
                            <li><span>{{ contact.name }}:</span>{{ contact.details }}</li>
                        {% endfor %}
                    </ul>
                </section>
                <section style="width: 400px" class="col3 pad_left2">
                    <h4>{{ translation.text_block }}</h4>
                    <div class="text">{{ translation.some_text_in_block|safe }}
                    </div>
                </section>
            </div>
        </article>
        <!-- content end -->
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
{% block scripts %}
{% endblock %}
</body>
</html>