{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.0/bootstrap-slider.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/reset.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'core/css/layout.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" type="text/css" media="all">
    <script type="text/javascript" src="{% static 'core/js/Swis721_Cn_BT_400.font.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/Swis721_Cn_BT_700.font.js' %}"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.0/css/bootstrap-slider.min.css"
          type="text/css" media="all">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    {% block static %}
    {% endblock %}
    <!--[if lt IE 9]>
  	<script type="text/javascript" src="{% static 'core/js/html5.js' %}"></script>
	<style type="text/css">
		.bg{ behavior: url(js/PIE.htc); }
	</style>
  <![endif]-->
    <!--[if lt IE 7]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0"  alt="" /></a>
		</div>
	<![endif]-->
</head>
<body id="page2">
<div class="body1">
    <div class="body2">
        <div class="main-template">
            <!-- header -->
            <header>
                <div class="wrapper">
                    <h1><a href="/" id="logo">MAXSender.com</a></h1>
                    <nav>
                        <ul id="menu">
                            <li><a href="/">Buy<span>Better price</span></a></li>
                            <li><a href="/about">About<span>About us</span></a></li>
                            <li><a href="/sales">Sales<span>Big sales</span></a></li>
                            <li><a href="/articles">Articles<span>Сool articles</span></a></li>
                            <li><a href="/faq">FAQ<span>Answers</span></a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <!-- header end-->
        </div>
    </div>
</div>
<div class="body3">
    <div {% if request.GET.status == 'success' %}style="display: block"{% endif %} class="success">
        <div>Success! Pay your order and wait further directed on the your e-mail. For any questions, please
            poker@test.ru
        </div>
    </div>
    <div class="main-template">
        <!-- content -->
        {% block content %}
        {% endblock %}
        <!-- content end -->
    </div>
</div>
<div class="body4">
    <div class="main-template">
        <article id="content2">
            <div class="wrapper">
                <section class="col3">
                    <h4>Navigation</h4>
                    <ul class="list1">
                        <li><a href="/">Buy</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/sales">Sales</a></li>
                        <li><a href="/articles">Articles</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                </section>
                <section class="col3 pad_left2">
                    <h4>Contacts</h4>
                    <ul class="address">
                        {% for contact in contacts %}
                            <li><span>{{ contact.name }}:</span>{{ contact.contact }}</li>
                        {% endfor %}
                    </ul>
                </section>
                <section class="col3 pad_left2">
                    <h4>Some text</h4>
                    <div class="text">Some text Some text Some text Some text Some text Some text Some text
                        Some text Some text Some text Some text Some text Some text Some text Some text Some text
                        Some text Some text
                    </div>
                </section>
            </div>
        </article>
        <!-- content end -->
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
{% block scripts %}
{% endblock %}
</body>
</html>