{% extends 'core/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="body3">
        <div class="main">
            <article id="content">
                <div style="min-height: 500px" class="wrapper">
                    <section class="col1">
                        <h1 class="under">
                            {{ name }}
                        </h1>
                        <h2 class="other-page-text">
                            {{ text|safe }}
                        </h2>
                    </section>
                </div>
            </article>
        </div>
    </div>
{% endblock %}