{% extends 'core/base.html' %}
{% load staticfiles %}
{% block static %}
    <script type="text/javascript" src="{% static 'core/js/tabs.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="body3">
        <div class="main">
            <article id="content">
                <div style="min-height: 600px" class="wrapper">
                    <section class="col1">
                        <h2 class="under">{{ page_name }}</h2>
                        <div class="other-page-text">
                            Несколько месяцев назад скачал от нечего делать с торрентов архив прессы. Распаковал его и
                            ткнул в произвольную статью. Этой статьей оказалась заметка от середины июля 2004 о пропаже
                            питерского журналиста Максима Максимова. И что-то у меня в памяти вспыхнуло от сочетания
                            этого имени и фамилии, набрал запрос в яндексе и по фотке сразу же узнал его.

                            Десять лет назад я на протяжении пары недель посещал по некоторым делам агентство
                            журналистских расследований, где пересекался, в частности, с Максимом Леонидовичем. Очень
                            мне он показался приятным и интеллигентным человеком.

                            В общем, как оказалось, убили бедолагу за его расследования. Дело не раскрыли. Все что было
                            найдено – результат работы людей из ажура, которым следователи, ведущие дело, не сумели или
                            не захотели воспользоваться. Судя по всему журналиста убили высокопоставленные менты, о
                            коррупции которых Максимов собирался писать. Убили в центре города, заманив в ловушку. Труп
                            вывезли куда-то, тела до сих пор не нашли. Часть этих ментов до сих пор продолжает трудиться
                            на своих рабочих местах.

                            Особая история – это мать журналиста, которая финансировала поиски, пыталась активизировать
                            следствие и, вообще, всячески трубила по всем инстанциям, но ей отказывали в получении хоть
                            какой-либо информации. С ней в 2006 встречалась даже матвиенко, обещала довести дело до
                            «логического конца» – ну и, как видно, довела.

                            Поразительно, но история с убийством журналиста совершенно не стала резонансной, хотя,
                            говорят, это единственный питерский журналист, который был убит в связи со своей
                            профессиональной деятельностью (видимо из этой статистики выпали питерские журналисты,
                            пропавшие в Чечне, да и вообще это как-то сомнительно).
                        </div>
                    </section>
                </div>
            </article>
        </div>
    </div>
{% endblock %}