{% extends 'core/base.html' %}
{% load staticfiles %}
{% block static %}
    <script type="text/javascript" src="{% static 'core/js/tabs.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="body3">
        <div class="main">
            <article id="content">
                <div style="min-height: 500px" class="wrapper">
                    <section class="col1">
                        <h2 class="under">
                            {{ name }}
                        </h2>
                        <div class="other-page-text">
                            {{ text|safe }}
                        </div>
                    </section>
                </div>
            </article>
        </div>
    </div>
{% endblock %}