/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block
}

mark, rp, rt, ruby, summary, time {
    display: inline
}

/* Left & Right alignment */
.left {
    float: left
}

.right {
    float: right
}

.wrapper {
    width: 100%;
    overflow: hidden
}

/* Global properties ======================================================== */
body {
    background: #000;
    border: 0;
    font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
!important;
    color: #434343;
    line-height: 22px;
    font-style: normal;
}

.ic, .ic a {
    border: 0;
    float: right;
    background: #fff;
    color: #f00;
    width: 50%;
    line-height: 10px;
    font-size: 10px;
    margin: -220% 0 0 0;
    overflow: hidden;
    padding: 0
}

.css3 {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    position: relative
}

.body1 {
    background: url(../images/bg.jpg) bottom center repeat
}

.body3 {
    background: #fff
}

.body4 {
    background: url(../images/bg.jpg) top center repeat
}

.body5 {
    background: url(../images/bg_top_img.jpg) center bottom no-repeat
}

/* Global Structure ============================================================= */
.main-template {
    margin: 0 auto;
    width: 940px;
}

/* ============================= main layout ====================== */
a {
    color: #696969;
    text-decoration: underline;
    outline: none
}

a:hover {
    text-decoration: none
}

h1 {
    float: left
}

h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
    padding: 38px 0 11px 0;
    color: #000;
    letter-spacing: -1px
}

h2.under {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 25px
}

h3 {
    font-size: 26px;
    color: #000;
    line-height: 1.2em;
    letter-spacing: -0px;
    padding-bottom: 16px;
    font-weight: 400;
    font-style: normal
}

h3 span {
    display: block;
    margin-top: -7px
}

* + html h3 span {
    margin-top: -25px
}

h3 .dropcap {
    float: left;
    width: 55px;
    height: 25px;
    background-color: #1e727e;
    margin-top: 0px;
    margin-right: 10px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 1.2em;
    padding-top: 6px
}

h4 {
    font-size: 26px;
    line-height: 1.2em;
    color: #fff;
    font-weight: 400;
    padding: 43px 0 15px 0
}

h5 {
    font-size: 33px;
    color: #000;
    line-height: 1.7em;
    padding: 0 0 16px 0;
    font-weight: 400;
    font-style: normal
}

h5 .dropcap {
    float: left;
    width: 56px;
    height: 56px;
    margin-top: 0px;
    margin-right: 10px;
    background: url(../images/dropcap1.gif) 0 0 no-repeat;
    color: #fff;
    text-align: center
}

h5 .dropcap strong {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2em;
    display: block;
    padding-top: 3px;
    letter-spacing: -2px
}

h5 .dropcap span {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.2em;
    display: block;
    margin-top: -8px
}

p {
    padding-bottom: 22px
}

/* ============================= header ====================== */
header {
    padding-top: 34px;
    height: 148px
}

#logo {
    display: block;
    width: 288px;
    text-decoration: none;
    font-size: 45px;
    color: #bbb;
    padding-top: 25px;
    font-weight: 600;
}

#logo:hover {
    color: #1e727e
}

#menu {
    float: right;
    padding-top: 40px
}

#menu li {
    float: left;
    padding-left: 31px
}

#menu li a {
    display: block;
    font-size: 18px;
    line-height: 1.2em;
    color: #bbb;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: -1px;
    font-style: normal;
    font-weight: 700
}

#menu li a span {
    font-size: 10px;
    line-height: 1.2em;
    color: #666666;
    display: block;
    letter-spacing: -1px;
    margin-top: -3px;
    font-weight: normal
}

#menu li a:hover, #menu .active a {
    color: #1e727e
}

#menu li a:hover span, #menu .active a span {
    color: #fff
}

.slider {
    top: 162px;
    position: absolute;
    z-index: 1
}

.slider .items {
    display: none
}

.slider .pagination {
    position: absolute;
    z-index: 2;
    bottom: 47px;
    left: 432px
}

.slider .pagination li {
    float: left;
    padding-right: 4px
}

.slider .pagination a {
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    background: url(../images/buttons.png) right 0 no-repeat
}

.slider .pagination a:hover, .slider .pagination .current a {
    background-position: left
}

/* ============================= content ====================== */
#content-template {
    padding-top: 50px;
    padding-bottom: 36px
}

#content2 {
    padding-bottom: 50px;
    color: #696969;
}

.pad_left1 {
    padding-left: 50px
}

.pad_left2 {
    padding-left: 40px
}

.pad_bot1 {
    padding-bottom: 8px
}

.pad_bot2 {
    padding-bottom: 40px
}

.marg_right1 {
    margin-right: 20px
}

.link1 {
    color: #60b000;
    font-style: normal
}

.testimonials {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 210px;
    overflow: hidden
}

#testimonials div {
    background: url(../images/bg_testimonials.gif) 0 bottom no-repeat #f5f5f5;
    padding: 25px 27px 53px 29px
}

#testimonials span {
    display: block;
    padding: 0 0 0 11px;
    font-style: normal
}

.testimonials li {
    height: 210px
}

.up, .down {
    position: absolute;
    z-index: 2;
    bottom: 8px;
    right: 0;
    width: 32px;
    height: 32px;
    display: block
}

.up {
    right: 33px;
    background: url(../images/marker_up.gif) 0 0 no-repeat
}

.down {
    background: url(../images/marker_down.gif) 0 0 no-repeat
}

.up:hover, .down:hover {
    background-position: bottom
}

.color1 {
    color: #000
}

.color2 {
    color: #60b000
}

.list1 {
    background: url(../images/line_hor1.png) 10px 0 no-repeat;
    padding-top: 1px
}

.list1 li {
    background: url(../images/line_hor1.png) 10px bottom no-repeat;
    line-height: 29px
}

.list1 a {
    color: #696969;
    text-decoration: none;
    font-style: normal;
    padding-left: 14px;
    background: url(../images/marker_1.gif) 0 6px no-repeat
}

.list1 a:hover {
    color: #fff
}

.address {
    background: url(../images/line_hor1.png) 0px 0 no-repeat;
    padding-top: 1px
}

.address li {
    background: url(../images/line_hor1.png) 0px bottom no-repeat;
    line-height: 29px;
    font-style: normal
}

.address span {
    padding-left: 4px;
    float: left;
    width: 62px
}

.address a {
    color: #fff
}

#icons {
    background: url(../images/line_hor1.png) 23px 0 no-repeat;
    padding-top: 1px
}

#icons li {
    background: url(../images/line_hor1.png) 23px bottom no-repeat;
    line-height: 29px
}

#icons a {
    color: #696969;
    text-decoration: none;
    font-style: normal;
    display: inline-block
}

#icons img {
    float: left;
    margin-right: 9px;
    margin-top: 5px
}

#icons a:hover {
    color: #fff
}

/*--- tabs begin ---*/
.tabs {
}

.tabs ul.nav {
    float: left;
    padding-left: 372px;
    padding-bottom: 24px
}

.tabs ul.nav li {
    padding-right: 1px;
    float: left
}

.tabs ul.nav li a {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    font-size: 19px;
    color: #fff;
    line-height: 32px;
    background: #60b000;
    text-decoration: none;
    text-align: center
}

.tabs ul.nav .selected a, .tabs ul.nav a:hover {
    background: #696969
}

.tabs .tab-content {
    display: none
}

/*--- tabs end ---*/
#address span {
    float: left;
    width: 80px
}

/* ============================= footer ====================== */
footer {
    padding: 34px 0 38px 0;
    font-style: normal;
    color: #696969;
    text-align: center
}

footer a {
    color: #fff
}

footer a:hover {
}

*, ::after, ::before {
    box-sizing: inherit
}

.table {
    line-height: 15px
}

.table-border {
    border-radius: 3px !important;
    border: 1px solid rgba(203, 203, 203, 0.5) !important;
    border-collapse: separate;
    border-spacing: 0;
}

.table .thead-dark th {
    background-color: #3d3d3d;
    border-color: #3d3d3d
}

.buttons-tr th {
    border-bottom: none !important;
    border-top: none !important;
    padding: 0 !important;
}

.focus {
    box-shadow: none !important;
}

.table-striped thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
}

.table-size-th {
    text-align: right;
    font-weight: normal
}

.table-size-th label {
    padding-left: 15px
}

.table-striped td, th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6 !important;
}

.table-size thead th, .table-slide thead th {
    vertical-align: middle !important;
    border-bottom: 0px solid #dee2e6;
    background-color: rgba(0, 0, 0, .05);
    padding: 15px 15px 15px 15px
}

.slider {
    top: 0 !important;
    position: absolute;
    z-index: 4;
    overflow: visible !important;
    margin-left: 30px
}

#ex6CurrentSliderValLabel {
    padding: 0 0 0 15px;
    vertical-align: bottom !important;
}

.table-slide tr {
    font-weight: normal !important;
}

.slider-handle {
    background-color: #080808 !important;
    background-image: inherit !important;
    width: 30px !important;
    height: 30px !important;
}

.slider.slider-horizontal {
    width: 97px !important;
}

.slider.slider-horizontal .slider-handle {
    top: -5px;
    margin-left: -15px !important;
    background-color: #373632 !important;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #74756d !important;
    outline: 0;
    box-shadow: 0 0 0 1px rgba(176, 174, 179, 0.86);
}

.pad_left3 {
    padding-left: 10px
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
    box-shadow: none !important
}

.base-cart {
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgba(157, 157, 157, 0.5);
    margin-top: 5px;
}

.cart {
    width: 100%;
    min-height: 100px;
    position: relative;
    padding-bottom: 40px
}

.cart-tittle {
    font-size: 17px;
    padding: 10px 8px 8px 8px;
    background-color: rgba(0, 0, 0, .05);
    border-bottom: 1px solid #c9c9c9;
    height: 25px;
}

.cart-tittle-text {
    float: left;
}

#clear-cart {
    text-align: center;
    margin-top: 15px
}

.cart-tittle-btn {
    float: right;
}

.cart-tittle-btn button {
    margin: 0;
}

.cart-items {
    margin-bottom: 0
}

.cart-items th {
    font-weight: normal;
    font-size: 13px;
    padding: 10px 8px 10px 8px;
    line-height: 1.6;
    background-color: #f9f5f5;
}

.cart-items tr {
    border-top: 1px solid #e2e2e2;
}

.cart-items tbody tr:first-child {
    border-top: 0 solid black !important;
}

.cart-footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .05);
    height: 40px;
    width: 100%;
    border-top: 1px solid #e2e2e2
}

.cart-total {
    font-size: 17px;
    padding: 10px 8px 8px 8px;
    font-weight: bold;
    float: left
}

.cart-submit {
    width: 40%;
    float: right
}

.btn-sm-cart {
    margin: 7px 8px 7px 4px;
    padding: 1px 10px 1px 10px;
    font-size: 13px
}

.input-group {
    border-radius: 0 !important;
}

.precart {
    border: 1px solid rgba(75, 201, 249, 0.3);
    background-color: rgba(75, 201, 249, 0.3);
!important;
    border-radius: 5px;
}

.precart-items {
    font-size: 13px;
    margin-top: 7px
}

.precart-items th {
    font-weight: normal !important
}

.precart-items th:first-child {
    padding: 12px 0 12px 8px;
    width: 30px
}

.precart-items th:last-child {
    padding: 12px 0 12px 5px
}

.precart-tittle {
    font-size: 17px;
    padding: 10px 5px 8px 8px;
    background-color: rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(75, 201, 249, 0.3)
}

.precart-footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .05);
    height: 40px;
    width: 100%;
    border-top: 1px solid rgba(75, 201, 249, 0.3)
}

.term-item {
    padding: 0
}

.tbody-precart-items th {
    padding: 2px 0 2px 10px !important;
}

.tbody-precart-items span {
    background-color: rgba(45, 124, 155, 0.73);
    display: inline-block;
    margin: 0;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    color: white;
    width: 40px;
    font-weight: bold
}

.tbody-precart-items tr th:nth-child(2) {
    padding: 7px 0 0 5px !important;
}

.cart-items-footer-left {
    float: left;
    font-size: 15px;
}

.cart-items-footer-right {
    float: right;
    font-size: 15px;
    font-weight: bold
}

.cart-items-footer-right button {
    float: right;
    margin: 0;
    opacity: 0.5
}

.block-hide {
    margin-top: 10px;
    display: none
}

.block-graphics {
    width: 100%;
}

.block-graphics-item {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.graphic {
    min-height: 250px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.head-graphic {
    margin-bottom: -10px;
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
}

.head-graphic span {
    font-size: 12px;
    font-style: italic;
}

.body-order {
    background: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -50px;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.block-order {
    border: 1px solid rgba(92, 92, 92, 0.66);
    width: 600px;
    min-height: 400px;

    box-shadow: 0 0 1px rgba(0, 0, 0, 0.69);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-order {
    margin-top: 7px;
    margin-right: 7px;
}

.block-order-footer {
    background-color: rgba(0, 0, 0, .05);
    height: 45px;
    width: 100%;
    border-top: 1px solid #b9b9b9;
}

.cart-body {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 100%;
    font-size: 16px;
}

.label-payment {
    font-weight: bold;
}

.payments div.details {
    padding-left: 20px;
}

.info-payment {
    font-size: 14px;
    color: rgba(101, 101, 101, 0.87) !important;
    padding-bottom: 15px;
}

.li-payment {

}

.left-right-cart-body {
    width: 50%;
    min-height: 200px;
    padding: 20px 20px 30px 20px;
}

.left-title {
    font-weight: bold;
    margin-bottom: 15px;
}

.left-cart-body {

}

.right-cart-body {

}

.inputs {
    margin-bottom: 10px;
}

.inputs label {
    margin-bottom: 15px;
    font-weight: bold;
}

.form-control-sm {
    font-size: 15px;
    width: 210px;
    margin-top: 5px;
    padding: 0 5px 0 5px;
}

.instruction div.tittle {
    color: rgba(171, 0, 0, 0.82);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-errors {
    color: red;
}

.instruction div.body {
    font-size: 14px;
    color: rgba(101, 101, 101, 0.87) !important;
}

.success {
    background-color: rgba(118, 195, 40, 0.84);
    line-height: 1.8;
    display: none;
}

.success div {
    margin: 0 auto;
    width: 940px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.other-page-text {
    padding-bottom: 50px;
}

.advantages {
    font-size: 16px;
    margin-top: -7px;
}

.advantages th {
    font-weight: normal;
    padding-left: 0;
    padding-right: 5px;
    padding-bottom: 0;
    width: 33%
}

.advantages .adv-text {
    font-size: 11px;
    display: inline-block;
    line-height: 1.4;
    color: gray;
}

.advantages .procent {
    background-color: #b4b4b4;
    color: white;
    padding: 5px 5px 4px 5px;
    border-radius: 3px;
    display: inline-block;
    font-weight: bold;
    width: 36px;
    text-align: center;
}
