{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ translation.name }}">
<head>
    <title>Order</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/reset.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'core/css/layout.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" type="text/css" media="all">
</head>
<body class="body-order" style="background: white;">
<form method="POST">{% csrf_token %}
    <div class="base-cart cart-1 block-order">
        <div class="cart-tittle">
            <div class="cart-tittle-text">{{ translation.making_order }}</div>
        </div>
        <div class="cart-body">
            <span class="form-errors">{{ form.non_field_errors }}</span>
            <div class="left-right-cart-body left-cart-body">
                <div class="left-title">
                    {{ translation.used_payment_system }}:
                </div>
                <div class="payments">
                    <span class="form-errors">{{ form.payment.errors }}</span>
                    <ul id="id_payment">
                        {% for item in form.type_payment_qs %}
                            <li class="li-payment"><label class="label-payment" for="id_payment_{{ forloop.counter0 }}">
                                <input name="payment"
                                       value="{{ forloop.counter }}"
                                       required=""
                                       id="id_payment_{{ forloop.counter0 }}"
                                       type="radio">
                                {{ item.name }}</label>
                            </li>
                            <div class="info-payment">
                                <div class="details">{{ translation.our_details }}: {{ item.payment_details }}</div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="left-right-cart-body right-cart-body">
                <div class="inputs">
                    <span class="form-errors">{{ form.email.errors }}</span>
                    <label for="">
                        <span>{{ translation.your_email }}:</span>
                        {{ form.email }}
                    </label>
                    <span class="form-errors">{{ form.name.errors }}</span>
                    <label for="">
                        <span>{{ translation.your_name }}:</span>
                        {{ form.name }}
                    </label>
                </div>
                <div class="instruction">
                    <div class="tittle">
                        {{ translation.instruction }}
                    </div>
                    <div class="body">
                        {{ translation.text_in_instruction|safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="block-order-footer">
            <div class="cart-submit cart-submit-1">
                <button style="float: right" type="submit"
                        class="btn btn-success btn-sm btn-order">
                    {{ translation.make_order_in_order }}
                </button>
                <button style="float: right" onclick="location.href = '/{% if parameter_lang %}?{{ parameter_lang }}{% endif %}'" type="button"
                        class="btn btn-outline-secondary btn-sm btn-order">
                    {{ translation.back_to_table }}
                </button>
            </div>
        </div>
    </div>
</form>
</body>
</html>
