{% extends 'core/base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block content %}
    <div class="body3">
        <h1 class="h1-buy">{{ translation.buy }}</h1>
        <div class="main-template">
            <!-- content -->
            <article id="content-template">
                <div class="wrapper">
                    <section style="padding-top: 5px" class="col1">
                        <div style="padding-bottom: 5px; float: left" class="btn-group btn-group-toggle"
                             data-toggle="buttons">
                            {% for table in tables %}
                                <a style="text-decoration: none" href="?table={{ table.name_url }}&{{ parameter_lang }}"
                                   class="btn btn-outline-dark btn-sm type-game {% if request.GET.table == table.name_url or not request.GET.table and forloop.counter0 == 0 %}active{% endif %}">{{ table.name }}</a>
                            {% endfor %}
                        </div>
                        <div style="padding-bottom: 5px; float: right" class="btn-group btn-group-toggle"
                             data-toggle="buttons">
                            <label class="btn btn-outline-dark btn-sm active">
                                <input type="radio" name="options" id="Subscription" class="type-package"
                                       autocomplete="off" checked>
                                {{ translation.subscription }}
                            </label>
                            <label class="btn btn-outline-dark btn-sm">
                                <input type="radio" name="options" id="Package" class="type-package" autocomplete="off">
                                {{ translation.package }}
                            </label>
                        </div>
                        <table class="table table-striped table-border table-hover">
                            <thead class="">
                            <tr>
                                <th scope="col">{{ translation.limits }}</th>
                                {% for site in sites %}
                                    {% if site.is_enabled %}
                                        <th style="text-align: center" scope="col">{{ site.name }}</th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for limit in limits %}
                                <tr>
                                    <th scope="row">{{ limit.name }}</th>
                                    {% for item in limit.items.all|is_enabled_site|sort_by:'site__priority' %}
                                        <td style="padding: 0 .75rem 0 .75rem" align="center">
                                            {% if item.is_enabled %}
                                                <label style="width: 100%; height: 100%; padding: 0.75rem 0 0.75rem 0">
                                                    <input class="limits-item"
                                                           id="{{ item.site.name }}:{{ limit.name }}:{{ item.id }}"
                                                           type="checkbox">
                                                </label>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <table class="table table-border table-size">
                            <thead>
                            <tr>
                                <th>{{ translation.tables_sizes }}:</th>
                                <th class="table-size-th">
                                    <label>
                                        <input class="tables-sizes" type="checkbox">
                                        Heads up
                                    </label>
                                    <label>
                                        <input class="tables-sizes" type="checkbox">
                                        6-Max
                                    </label>
                                    <label>
                                        <input class="tables-sizes" type="checkbox">
                                        Fullring
                                    </label>
                                </th>
                            </tr>
                            </thead>
                        </table>

                        <table id="term">
                            <thead>
                            <tr>
                                <th style="width: 290px; padding-right: 15px" class="term-item">
                                    <table class="table table-border table-slide">
                                        <thead>
                                        <tr>
                                            <th width="138">
                                                {{ translation.start_subscription }}:
                                            </th>
                                            <th style="text-align: right; font-weight: normal;">
                                                <input style="padding: 0 3px 0 7px; font-size: 14px; width: 110px"
                                                       class="form-control" type="date" value="{% now "Y-m-d" %}"
                                                       id="start_subscription">
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </th>
                                <th class="term-item">
                                    <table class="table table-border table-slide">
                                        <thead>
                                        <tr>
                                            <th>
                                                {{ translation.term }}:
                                            </th>
                                            <th style="text-align: right; font-weight: normal">
                                                <form class="form-inline justify-content-end">
                                                    <div class="form-group mb-2">
                                                        <input id="ex6" type="text" data-slider-min="1"
                                                               data-slider-max="360"
                                                               data-slider-step="15" data-slider-value="30"/>
                                                    </div>
                                                    <div style="width: 105px; height: 25px; padding-left: 30px"
                                                         class="input-group mb-3">
                                                        <input type="text" name="days" class="form-control input-sm"
                                                               value="30"
                                                               style="padding: 0 3px 0 10px; font-size: 15px"
                                                               id="ex6SliderVal">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">days</span>
                                                        </div>
                                                    </div>
                                                </form>
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </th>
                            </tr>
                            </thead>
                        </table>

                        <table style="display: none" id="hands" class="table table-border table-slide">
                            <thead>
                            <tr>
                                <th>
                                    {{ translation.numbers_of_hands }}:
                                </th>
                                <th style="text-align: right; font-weight: normal">
                                    <form class="form-inline justify-content-end">
                                        <div class="form-group mb-2">
                                            <input id="ex7" type="text" data-slider-min="100" data-slider-max="10000"
                                                   data-slider-step="100" data-slider-value="100"/>
                                        </div>

                                        <div style="width: 108px; height: 25px; padding-left: 30px"
                                             class="input-group mb-3">
                                            <input disabled type="text" class="form-control input-sm" value="100"
                                                   style="padding: 0 3px 0 10px; font-size: 15px" id="ex7SliderVal">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">ths</span>
                                            </div>
                                        </div>
                                    </form>
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </section>
                    <section class="col2 pad_left3">
                        <table class="advantages">
                            <tbody>
                            <tr>
                                <th>
                                    <span class="procent">-{{ price_formation.next_limit_discount }}%</span> <span
                                        class="adv-text">{{ translation.next_limit|safe }}</span>
                                </th>
                                <th>
                                    <span class="procent">-{{ price_formation.next_month_discount }}%</span> <span
                                        class="adv-text">{{ translation.next_month|safe }}</span>
                                </th>
                                <th>
                                    <span class="procent">-{{ price_formation.next_100k_hands_discount }}%</span> <span
                                        class="adv-text">{{ translation.next_100k|safe }}</span>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                        <div class="base-cart cart cart-1">
                            <div class="cart-tittle">
                                <div class="cart-tittle-text">{{ translation.cart_content }}</div>
                                <div class="cart-tittle-btn">
                                    <button name="clear-cart" type="button"
                                            class="btn btn-outline-dark btn-sm-cart {% if not request.session.cart_items %}disabled{% endif %}">
                                        {{ translation.clear }}
                                    </button>
                                </div>
                            </div>
                            <table class="table cart-items">
                                <tbody class="cart-items-tbody">
                                {% if request.session.cart_items %}
                                    {% for item in request.session.cart_items %}
                                        <tr>
                                            <th>
                                                <b>{% if item.type_package == 'Subscription' %}
                                                    {{ translation.subscription }}{% else %}
                                                    {{ translation.package }}{% endif %}</b>:
                                                {% if item.type_package == 'Subscription' %}
                                                    {{ item.term }} {{ translation.days_from }} {{ item.start_date }};
                                                {% else %}
                                                    {{ item.count_hands }};
                                                {% endif %}
                                                <br>
                                                <b>{{ item.type_game }}</b>:
                                                {{ item.tables }};
                                                <br>
                                                {% for site_name, limits in item.limits_item.items %}
                                                    <b>{{ site_name }}</b>
                                                    ({{ limits }})
                                                    <br>
                                                {% endfor %}
                                                <br>
                                                <div class="cart-items-footer-left">
                                                    {{ translation.price }}: <b>{{ item.price }}</b> $
                                                </div>
                                                <div class="cart-items-footer-right">
                                                    <button type="button" name="delete-item" id="{{ forloop.counter0 }}"
                                                            class="close" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <div id="clear-cart">{{ translation.cart_is_empty }}</div>
                                {% endif %}
                                </tbody>
                            </table>
                            <div class="cart-footer">
                                <div {% if not request.session.cart_items %}style="display: none" {% endif %}
                                     class="cart-total cart-total-1">
                                    {{ translation.total }}: <span
                                        id="cart-total-sum">{{ request.session.total }}</span> $
                                </div>
                                <div class="cart-submit cart-submit-1">
                                    <button style="float: right"
                                            onclick="if (!($(this).hasClass('disabled'))){location.href='/order?{{ parameter_lang }}'}"
                                            type="button"
                                            class="btn btn-success btn-sm-cart {% if not request.session.cart_items %}disabled{% endif %}">
                                        {{ translation.make_order_in_cart }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="block-info" class="cart block-hide precart">
                            <div class="precart-tittle">{{ translation.add_to_cart }}</div>
                            <table class="table precart-items">
                                <tbody class="tbody-precart-items">
                                </tbody>
                            </table>
                            <div class="precart-footer">
                                <div class="cart-total">
                                    {{ translation.total }}: <span id="precart-total">0.00</span> $
                                </div>
                                <div class="cart-submit">
                                    <button style="float: right" type="button" id="add-to-cart"
                                            class="btn btn-outline-success btn-sm-cart">
                                        {{ translation.add_to_cart_btn }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div style="display: block;" class="block-hide block-graphics">
                        </div>
                    </section>
                </div>
            </article>
        </div>
    </div>
    <div class="block-hide">
        <span id="days_from">{{ translation.days_from }}</span>
        <span id="price">{{ translation.price }}</span>
        <span id="Order">{{ translation.order }}</span>
        <span id="Game">{{ translation.game }}</span>
        <span id="Limits">{{ translation.limits }}</span>
        <span id="Tables">{{ translation.tables }}</span>
        <span id="Term">{{ translation.term }}</span>
        <span id="Count">{{ translation.count }}</span>
        <span id="Start">{{ translation.start }}</span>
        <span id="past">{{ translation.past }}</span>
        <span id="days">{{ translation.days }}</span>
        <span class="Subscription">{{ translation.subscription }}</span>
        <span class="Package">{{ translation.package }}</span>
    </div>
    {% csrf_token %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'core/js/scripts.js' %}"></script>
{% endblock %}
